/* #top{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
}

#top > div{
    font-size: 5vw;
    padding: .5em;
    background: #8aa4b8;
    text-align: center;
    margin-bottom: 5px;

}
#nums{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 5px;
}

#nums > div{
    font-size: 5vw;
    padding: .5em;
    background: #8aa4b8;
    text-align: center;
}

#bottom{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
}

#bottom > div{
    font-size: 5vw;
    background: #8aa4b8;
    text-align: center;
    margin-top: 5px;
    font-size: 5vw;
    padding: .5em;
} */

#nums{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

#nums > div{
    font-size: 4vw;
    padding: .5em;
    text-align: center;
    margin-bottom: 5px;
    border-radius: 10px;
}

#bottom{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 2.01fr 1fr 1fr;
}

#bottom > div{
    font-size: 4vw;
    padding: .5em;
    text-align: center;
    margin-bottom: 5px;
    border-radius: 10px;   
}

#display{
    text-align: right;
    font-size: 4vw;
    padding: 50px;


}

.teal{
    background-color:#1F6357;
}

.operations{
    background-color: orangered;
}

.editing{
    background-color: blue;
}